.mentors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.mentor-title {
  font-family: "Rampart One", cursive;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0 0 1rem;
}

.container--button {
  display: flex;
  margin-top: -1rem;
  justify-content: center;
}

.buttons {
  display: flex;
  width: auto;
}

/*Tablets [601px -> 1200px]*/
@media only screen and (max-width: 1100px) {
  .container--button {
    display: flex;
    margin-top: -1rem;
    align-items: center;
    justify-content: center;
  }

  .buttons {
    padding: 1rem;
    width: auto;
  }
}
