@use 'src/styles/vars' as v;

.mentors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.mentor-title {
  color: v.$color-theme2;
  font-family:v.$titleFont;
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0 ;
  margin-left : v.$gutter;
  margin-bottom: v.$bigGutter;

  &-red{
    color: v.$color-theme1;
  }
}
