@use 'src/styles/vars' as v;

.mentors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.mentor-title {
  color: v.$color-theme2;
  font-family: v.$titleFont;
  font-weight: 800;
  text-align: left;
  font-size: 2.5rem;
  margin: v.$gutter 0;

  @media (max-width: 600px) {
    font-size: 2rem;
  }

  &-red {
    color: v.$color-theme1;
  }
}

.mentor-form {
  @media (max-width: 650px) {
    margin-top: 2rem;
  }
}
