@use '../../styles/vars';

.footer{
  background-color: #dbdddf;

  display:flex;

  &--container{
      color:grey;
      font-size:1.1rem;
      font-weight: bold;
      background-color: #dbdddf;
      text-align: center;
      flex-grow: 1;
      padding: 2rem;
      display:flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      
  }
}
.container--logo{
  padding: 1.2rem;
}

