
@use '../../styles/vars';


.containers{
  display:flex;
  flex-wrap: wrap;

 

  .mentor{
      margin:1.5rem 0;
      box-shadow: 0 1px 1px 2px #ccc;
      padding: 0.5rem;
      border-radius: 10px;
      &--name{
        font-size: 1.5rem;
        font-weight: bold;
        color:vars.$primaryColor;
        margin-bottom: 0.8rem;
      }
    
      &--description{
        font-weight: bold;
      }
  }

  .ressources {

  }
  
}




//         --github">Github : {mentor.github_account}</div>
//         --youtube">Youtube : {mentor.youtube_account}</div>
//         --website">Site Web : {mentor.website}</div>
//         --witter">Twitter : {mentor.twitter_account}</div>
//         --linkedin">Linkedin : {mentor.linkedin_account}</div>
//         --twitch">Twitch : {mentor.twitch_account}</div>
//         --ressources"> Mes ressources :





