@use 'sass:color';
@use 'src/styles/vars';

.nav {
  width: 100%;
  height: 100%;
  padding: vars.$halfGutter 0;
  background-color: white;
  text-align: left;
  display: flex;
  
  &-link {
    align-self: center;
    padding: vars.$halfGutter vars.$gutter;
    transition: color .3s, box-shadow .4s;
    color: black;
    font-size: 1.2rem;

    &:hover:not(&--active) {
      color: red;
    }

    &--active {
      color : red;
      font-weight: bold;
    }
  }
}
