@use 'src/styles/vars' as v;

.card {
  &--container {
    box-shadow:v.$card-shadow;
    width: 20rem;
    height: 25rem;
    border-radius: 5%;
  }
  &--img-mentor{
    border-radius: 5% 5% 0% 0;
  }

  &-title {
    font-size: 1.3rem;
    color: v.$color-theme1;
    padding: 0.8rem;
    font-weight: bold;
    font-family: v.$titleFont;
  }

  &-description {
    padding: 0.5rem;
    font-weight: bold;
    line-height: 1.2rem;
    margin-bottom: 0.5rem;
  }
}
