@use '../../../styles/vars';

.latestMentor {

    // border: 1px vars.$primaryColor solid;

    &-span {
        color: vars.$primaryColor
    }

    &-title {
        font-family: 'Rampart One', cursive;
        color: vars.$primaryContent;
        text-align: center;
        font-size: 2.2rem;
        font-weight: bold;
        padding-bottom: 4.5rem;
        
    }

    &-container {
    padding: vars.$gutter;
    padding-bottom: 6.5rem;
    
    }

    &-list {
        display: flex;
        justify-content: space-around;
        margin-bottom: 3.5rem;
    }

    &-list-card-imgContainer {
        margin-bottom: vars.$halfGutter;
    }

    &-list-card-content {
        text-align: center;
    }

    &-list-card-content-title {
      
       font-weight: bold;
       font-size: 1.3rem;
       margin-bottom: 0.8rem;
    }

    &-list-card-content-role {
        font-size: 1.1rem;
    }

    &-btnContainer {
        display: flex;
        justify-content: center;

    }

    // &-btnContainer-btn {
    //     color: white;
    //     background-color: vars.$primaryColor;
    //     text-transform: uppercase;
    //     padding: vars.$halfGutter;
    //     border-radius: 10px;
    //     width: 25rem;
    //     height: 3rem;
    // }
    

}
