.card {

  padding: 2rem;
 
  
  

  &-title {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &-description {
    margin-bottom: 1rem;
  }

  &-button {
    width: 10rem;
    display: block;
    text-align: center;
  }
}
