@use '../../styles/vars';

.ressources {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ressource-title{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0 0 1rem;
  font-family: vars.$titleFont;
}
