@use 'src/styles/vars' as v;

.button-edit {
  display: flex;
}

.mentor--img {
  text-align: center;
  padding: 2rem;
  min-width: 20vw;
}

.mentor-info {
  margin-left: 2rem;
  margin-right: 1rem;
  flex-direction: column;
  line-height: 2rem;
  max-width: 60vw;

  &-role {
    color: v.$color-theme1;
    font-size: 1.2rem;
  }

  &-title-description {
    font-size: 1.5rem;
    color: v.$color-theme2;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  &-description {
    font-size: 1rem;
    color: v.$color-theme2;
    font-weight: normal;
    margin-bottom: 2rem;
  }

  &-website {
    color: v.$color-theme2;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}

.badges-techno-fm {
  font-size: 5rem;
  color: v.$color-theme2;
  padding: 0.4rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.mentor-info-social-badges{
  font-size: 4rem;
  color: v.$color-theme2;
  padding: 0.4rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.card-mentor-info-image2 img {
  border-radius: 50%;
  height: 200px;
  min-height: 200px;
  min-width: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 200px;
}
