@use 'src/styles/vars' as v;

.ressources {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ressource-title {
  color: v.$color-theme2;
  font-family: v.$titleFont;
  font-weight: 800;
  text-align: left;
  font-size: 2.5rem;
  padding: 1rem 0;
  margin-left: v.$gutter;
  margin-bottom: v.$bigGutter;

  &-red {
    color: v.$color-theme1;
  }
}

.button-add {
  color: v.$color;
  position: absolute;
  right: v.$gutter;
}
