@use 'src/styles/vars' as v;

.ressources {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.containers{
  margin: 0 v.$gutter;
}

.ressource-title {
  color: v.$color-theme2;
  font-family: v.$titleFont;
  font-weight: 800;
  text-align: left;
  font-size: 2.5rem;
  padding: 1rem 0;
  margin-bottom: v.$bigGutter;

  @media (max-width: 650px) {
    font-size: 2rem;
  }

  &-red {
    color: v.$color-theme1;
  }
}

.ressource-form {
  @media (max-width: 650px) {
    margin-top: 2rem;
  }
}

.button-add {
  color: v.$color;
  position: absolute;
  right: v.$gutter;

  @media (max-width: 650px) {
    position: static;
  }
}
