@use 'src/styles/vars' as v;

.ressources {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ressource-title {
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0;
  font-family: v.$titleFont;
  margin-left : v.$gutter;
  margin-bottom: v.$bigGutter;
  color:v.$color-theme2;

  &-red{
    color: v.$color-theme1;
  }
}

.button-add {
  color: v.$color;
  position: absolute;
  right:v.$gutter;
}
