@use 'src/styles/vars';

.containers {
  .ressource {
    margin: 3rem 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;

    &--img {
      max-height: 20rem;
      max-width: 100%;
      border-radius: 15px;
    }

    &--files {
      margin: 1.2rem;
      padding: 0.8rem;
      width: 80%;
    }

    &--free {
      font-weight: bold;
      margin-bottom: 0.6rem;
      margin-top: 0.5rem;
    }

    &--title {
      font-size: 1.8rem;

      font-family: vars.$titleFont;
      color: vars.$primaryColor;
      margin-bottom: 0.8rem;
    }

    &--description {
      font-weight: bold;
      font-size: 1.3rem;
      margin-bottom: 1.2rem;
    }

    &--techno {
      color: rgb(75, 66, 66);
      padding: 0.4rem;
      font-size: 1.1rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    &--category {
      font-size: 0.8rem;
      margin-bottom: 0.5rem;
      margin-top: 1.2rem;
    }

    &--link {
      margin-top: 1.5rem;
      font-size: 1.2rem;
      padding: 0.8rem;
      font-weight: bold;
      color: white;
      text-shadow: 1px 1px 1px black;
      text-align: center;
    }

    &--information {
      display: flex;
      font-size: 0.9rem;

      &--duration,
      &--difficulty {
        padding: 0.3rem;
      }
    }

    &--publication {
      display: flex;

      &--author,
      &--date {
        padding: 0.3rem;
        font-size: 0.8rem;
      }
    }

    .font-color {
      background-color: vars.$backgroundDiv;
      padding: 1.2rem;
    }
  }
}
.container--button {
  display: flex;
  margin-top: -1rem;
}

.buttons {
  display: flex;
  width: auto;
}

.link {
  background-color: vars.$backgroundDiv;
  padding: 1.2rem;
  border-bottom: 1.5rem;

  &:hover {
    color: white;
    transition-duration: 1s;
  }
}

/*Tablets [601px -> 1200px]*/
@media only screen and (max-width: 1100px) {
  .containers {
    .ressource {
      margin: 3rem 1rem;
      padding: 0.5rem;
      border-radius: 10px;
      display: flex;
      flex-wrap: wrap;
    }

    .link {
      padding: 0.8rem;
      font-size: 0.7rem;
      border-bottom: 1.1rem;
    }
  }

  .container--button {
    display: flex;
    margin-top: -1rem;
    align-items: center;
  }

  .buttons {
    padding: 1rem;
    width: auto;
  }
}
