@use '../../../styles/vars';
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');


.herobanner{
  
    &--container{
    justify-content: space-evenly;
    padding:1.5rem;
    display: flex;
    margin: 4rem;
  }

  &--title{ //contient toute la partie de gauche
   
   padding-top: .5rem;
   
  }

  &--subTitle{
    font-family: 'Rampart One', cursive;
    font-size: 2rem;
    font-weight: bolder; 
    line-height: 1.2em;
    

     &--color{
      color: vars.$primaryColor;
    }
  }

  &--description{
   
    width: 29rem;
    margin: 1.5em;
    line-height: 1.7rem;
  }
}

// .description--color{ // couleur du span
//   font-size:1.2rem ;
  
// }

.container--button{

  margin-left: 1.4rem;

}

.button--source,.button--mentors {
  color:white;
  background: vars.$primaryColor;
  border: none;
  border-radius: 8%;
  padding:0.8rem;
  font-size: 0.8rem;
  margin-right: .5rem
}


.button--source:hover, .button--mentors:hover{ 
  color:black;
  font-size: 0.9rem;
  box-shadow: 0 2px 2px black;
}

