@use 'sass:math';

$gutter: 1.5rem;
$halfGutter: math.div($gutter, 2);
$color: #209CEE;

// Hero Banner
$primaryColor: #D91940; // notre couleur rouge primaire
$primaryContent: #452B29; // notre couleur de texte
$backgroundDiv: #F6F8F9; // notre gris de background div
