@use 'src/styles/vars' as v;

.card {
  &--container {
    box-shadow: v.$card-shadow;
    width: 20rem;
    height: 25rem;
    border-radius: 5%;
  }

  &-title {
    font-size: 1.3rem;
    color: v.$color-theme1;
    padding: 0.8rem;
    font-family: v.$titleFont;
  }

  &-description {
    font-weight: bold;
    line-height: 1.2rem;
    margin-bottom: 1.5rem;
  }

  &--conButton {
    margin-top: 2rem;
  }

  &-button {
    color: white;
    background: v.$color-theme1;
    border: none;
    padding:0.8rem 2.3rem;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 5%;
      &:hover{
        color:white;
      }
  }
}
